body {
    background-image: url("../asset/marble.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 15px;
  background-color: #181717;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.svg {
    align-items: center;
    size: 150px;
}

.button svg path {
  transition: 350ms;
}


#login-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.github-icon {
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

#login-btn:hover .github-icon {
    color: #85b5c1;
    transform: scale(1.15);
}
