<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DeployBridge</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <div id="auth-section">
        <h1 bgcolor="blue">Welcome to the App</h1>
        <p>Please log in to continue.</p>
        <button id="login-btn">Login with GitHub</button>
        <p id="loading-text" style="display: none;">Logging you in... Please wait.</p>
    </div>

    <script src="../js/auth.js"></script>
    </body>
</html>
